@font-face {
    font-family:raleway;
    src: url(fuentes/quicksand/Quicksand-LightItalic.otf);
}
@font-face {
    font-family: raleway;
    src: url(fuentes/raleway/Raleway-SemiBoldItalic.ttf);
}

*{
    margin: 0;
    padding: 0;
}