*{
    margin: 0;
    padding: 0;

}

body{
    background-color: $background;
    width:100%;
}
.galeria1 {
    color: #fff;
    padding-left: 250px;
    text-shadow: 0px 0px 5px $cian, 0px 0px 15px $cian,0px 0px 30px $cian;
    padding: 2% 5%;
    margin-bottom: 10%;
    font-size: 18px;
}

.galery{
    width:  95%;
    height: auto;
    display: flex;
    align-content: center;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8%;
    aspect-ratio: 1/2;
 
    &__cirquiatrico {
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    &__cirquiatrico:hover{
        cursor: crosshair;
        width: 80%;
        opacity: 1;
        filter: contrast(120%);
    }
    
}



.fotoInicio img {
    width: 98%;
    height: auto;
    position: static;
    padding: 1%;
    display: flex;
    flex-direction:column;
   
    

}

.conteiner__parrafo--inicio{
    display: flex;
  justify-content: center;
  align-items: center;
  
}


.parrafo {
    color: #fff;
    font-family:Impact, sans-serif;
    padding: 1%;
    margin: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 2px 2px beige;
    display: flex;
    flex-direction: column;
}

.conteiner__biografia--padre{
    display: grid;
    margin-left: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "foto"
    "texto";

   }
   .img__biografia{
    display: flex;
    grid-area: foto;
    width: 300px;
    height: 450px;
    margin-left: 4%;
}

.descripcion__biografia{
    display: flex;
    grid-area: texto;
    font-size: 22px;
    font-family: Impact, sans-serif;
    color:#fff;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin-left: 1%;
}

.footer{
    color: ghostwhite;
    text-align: center;
    justify-content: center;
    background-color:$magenta;
    position: absolute;
    width: 100% ;
    box-shadow: 0 0 5px$magenta, 0 0 10px $magenta, 0 0 20px $magenta;
    max-width: 100% !important;
    
    
}


 

form {
    background-color: black;
    color: #999;
    display:flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    padding: 10px;
    padding-left: 5%;
    padding-bottom: 5%;
    border-radius: 3px;
    font-family: Impact,  sans-serif;
  
 }

 .input{
    border: solid 1px #999;
    padding: 5px;
    margin: 3px 1px 3px 1px;

}

.textoFormulario{
    color: white;
}


.clases{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.clases img{
    width: 100%;

}

.Entrenamiento{
    width: 50%;
    height: auto;
    padding: 2%;
    padding-left: 2%;
    display: flex;
    margin: 1%;
      
}
.Entrenamiento:hover{
   transform: scale(1.1);

}

 h3{
   font-family: Impact,  sans-serif;
   color: white;
   margin:2%;
   margin-bottom: 20%;
   margin-top: 10%;
   text-align: center;
   display: flex;
   align-items:center;
   justify-items:center;


}




